body
{
    margin: 0;
    padding: 0;
    border: 0;
}

.cabecera
{
    background-color: black;
}
.cabecera h1
{
    color: white;
}
h1.logo
{
    font-size: 70px !important;
}
h1.text-logo
{
    font-size: 30px !important;
    margin-top: -10px;
}
h1.text-logo-sombreado
{
    font-size: 30px !important;
    font-weight: 200;
    padding-top: 9px;
}
.principal {
    padding-top: 40px;
}
#imagen_principal img
{
    margin: auto;
}
#text-principal p
{
    font-size: 20px;
    text-align: justify;
}
#text-bloques h1
{
    color: black;
    font-size: 49px;
    padding-top: 40px;
    padding-bottom: 40px;
}
#text-bloques 
{
    font-size: 15px;
    text-align: justify;
}
.titulos-bloques
{
    color: black;
}
.tamano-imagen
{
    margin: auto;
    max-width: 50%;
}
.boton-final a
{
    color: black;
    background-color: white;
    text-decoration: none;
    border-radius: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
}
.enlace
{
    background-color: black;
}
.container-fluid.enlace {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.boton-inicial a
{
    color: white;
    background-color: black;
    text-decoration: none;
    border-radius: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
}
.boton-inicial {
    padding-top: 60px;
    padding-bottom: 50px;
}
.boton-de-inicio {
    display: flex;
    justify-content: center;
}
.panel-title {
    font-size: 30px;
    padding-left: 70px;
}
.panel-title img
{
    width: 50px;
}
.panel-title a
{
    text-decoration: none;
    padding-left: 50px;
}
.panel-body
{
    font-size: 17px;
}
.panel-default > .panel-heading {
    color: white;
    border-color: black;
    background-color: black;
}
.panel-body {
    background-color: black;
    color: white;
    text-align: justify;
}
.espacios_bloques
{
    padding-right: 44px;
    padding-left: 20px;
}
.espacios_bloques h2
{
    font-size: 25px;
}

@media screen and (max-width: 708px)
{
    .panel-title {
        font-size: 24px;
        padding-left: 35px;
    }
    .panel-title a {
        padding-left: 0px;
    }
    .panel-title {
        font-size: 19px;
    }
    .panel-title img {
        width: 39px;
    }
    h1.text-logo {
        font-size: 15px !important;
        padding-bottom: 20px;
    }
}
@media screen and (max-width: 428px)
{
    .panel-title {
        font-size: 15px;
    }
    .panel-title img {
        width: 28px;
    }
    .panel-title a {
        padding-left: 14px;
    }
    h1.text-logo {
        font-size: 14px !important;
        padding-bottom: 20px;
    }
    h1.text-logo-sombreado {
        font-size: 29px !important;
    }
}
@media screen and (max-width: 414px)
{
    h1.text-logo {
        font-size: 14px !important;
        padding-bottom: 20px;
    }
    h1.text-logo-sombreado {
        font-size: 28px !important;
    }
}
@media screen and (max-width: 390px)
{
    .panel-title a {
        padding-left: 10px;
    }
    .panel-title {
        padding-left: 30px;
    }
    h1.text-logo-sombreado {
        font-size: 24px !important;
    }
    h1.text-logo {
        font-size: 12px !important;
        padding-bottom: 20px;
    }
}
@media screen and (max-width: 320px)
{
    .panel-title {
        padding-left: 20px;
    }
    .panel-title {
        font-size: 14px;
    }
    h1.text-logo-sombreado {
        font-size: 20px !important;
    }
    h1.text-logo {
        font-size: 10px !important;
        padding-bottom: 20px;
    }
}
