
<body>
     <header class="cabecera">
         <div class="container-fluid">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <h1 class="text-center logo">DEP</h1>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <h1 class="text-aling:left text-logo-sombreado">Device Enrollment Program.</h1>
                    <h1 class="text-aling:left text-logo">Programa de inscripción de dispositivos móviles.</h1> 
                </div>
            </div>
        </div>
    </header>

    <section class="principal">
        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
               <div class="row">
                   <figure id="imagen_principal">
                       <img src="http://webonline.macstore.mx/img/LP/Empresarial/dep/DEP_Portada.png" class="img-responsive" alt="Porta de LP DEP">
                   </figure>
               </div>
               <div class="row" id="text-principal"> 
                    <p>DEP es un programa de inscripción de dispositivos móviles en iOS, macOS y iPadOS que permite de 
                        manera rápida y optimizada la administración de cada equipo propiedad de la empresa, corporación
                        o institución educativa, sin la necesidad de prepararlos físicamente (zero-touch), previo a la entrega 
                        al usuario final. DEP es una solución que simplifica y ahorra los tiempos en procesos de áreas de T.I.</p>
               </div>
               <div class="row">
                   <div class="boton-de-inicio">
                    <div class="boton-inicial">
                        <a href="https://www.macstoreonline.com.mx/Empresarial.aspx">Conecta a un ejecutivo</a>
                    </div>
                   </div>
               </div>
            </div>
        </div>
    </section>

<section class="desplegables">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    <img id="rotar_imagen" onclick="rotar()" src="http://webonline.macstore.mx/img/LP/Empresarial/dep/Flecha_Desplegable_Arriba.png"alt="Fecha de seleccion"></a>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" id="rotar_imagen" onclick="rotar()">   
                    ¿Cómo funciona DEP con mi MDM?</a>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="container">
                    <div class="row espacios_internos">
                        Para usar DEP con tu sistema Gestor de Dispositivos Móviles (MDM), será necesario registrar tu 
                        servidor MDM en Apple Business Manager, esto permitirá recordar las configuraciones que deseas implementar en los 
                        diferentes tipos de dispositivos e usuarios. La introducción de DEP con MDM, hace que la implementación y entrega de nuevos 
                        dispositivos en tu empresa sea un proceso rápido y garantiza que los nuevos dispositivos estén protegidos y 
                        restringidos tan pronto como el usuario los encienda. Podrás establecer uno o más servidores para tu solución MDM, 
                        los servidores pueden agregarse en cualquier momento.​
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    <img id="rotar_imagen_2" onclick="rotar2()" src="http://webonline.macstore.mx/img/LP/Empresarial/dep/Flecha_Desplegable_Abajo.png"alt="Fecha de seleccion">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" id="rotar_imagen_2" onclick="rotar2()">
                    ¿Qué función tiene el MDM?</a>
            </h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="container">
                    <div class="row espacios_internos">
                        DEP simplificará las implementaciones que desees en cada dispositivo, pero es necesario un sistema MDM. 
                        Si no cuentas con una solución MDM adecuada a tus necesidades, nosotros podemos asesorarte.​ Con tu solución MDM, puedes 
                        simplificar los procesos de configuración en empresas corporativas o instituciones educativas de manera 
                        automática, permite la administración de dispositivos como iPad, iPhone y Mac de una manera fácil y práctica. La 
                        institución puede enviar la configuración preferida directamente a Apple, quien luego la instala en cada dispositivo 
                        tan pronto como los usuarios ingresen por primera ocasión.​
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    <img id="rotar_imagen_3" onclick="rotar3()" src="http://webonline.macstore.mx/img/LP/Empresarial/dep/Flecha_Desplegable_Abajo.png"alt="Fecha de seleccion">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" id="rotar_imagen_3" onclick="rotar3()">
                    ¿Qué dispositivos cubre?</a>
            </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="container">
                    <div class="row espacios_internos">
                        Cuando se adquiera un nuevo dispositivo de iPad, iPhone y Mac para su centro o empresa este se podrá 
                        inscribir en el DEP y automáticamente tendrá el perfil y los permisos previamente establecidos en el MDM una vez que el 
                        dispositivo se encienda por primera vez.​ Esto significa que sus dispositivos estarán listos para que los distribuya y entregue de 
                        inmediato al usuario final.​
                        
        
                        Con el DEP ahorra tiempo y costos significativos en comparación a la configuración manual de cada dispositivo gracias al 
                        proceso de automatización. ​
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div> 
</section>

</section>

<div class="container">
<section class="bloques">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row" id="text-bloques"> 
                <h1 class="text-center">Ventajas del programa DEP</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="interior col-lg-12 col-xs-12 col-sm-12 col-md-12">
                        <div class="" id="text-principal">
                            <figure>
                                <img src="http://webonline.macstore.mx/img/LP/Empresarial/dep/Engranaje_Bloque.png" class="img-responsive tamano-imagen" alt="Configuración sencilla">
                            </figure>
                        </div>
                        <div class="espacios_bloques">
                            <h2 class="text-center titulos-bloques">Configuración sencilla</h2>
                            <p id="text-bloques">El DEP simplifica la configuración inicial, ya que 
                                automatiza la inscripción en una solución de gestión de 
                                dispositivos móviles (MDM) y su posterior supervisión, 
                                además de permitir la configuración sin necesidad de 
                                manipular físicamente los dispositivos.​
                                
                            </p>
                        </div>
                    </div>
                </div> 
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="interior col-lg-12 col-xs-12 col-sm-12 col-md-12">
                        <div class="" id="text-principal">
                            <figure>
                                <img src="http://webonline.macstore.mx/img/LP/Empresarial/dep/Circulo_Bloque.png" class="img-responsive tamano-imagen" alt="Inscripción bloqueable y obligatoria">
                            </figure>
                        </div>
                        <div class="espacios_bloques">
                            <h2 class="text-center titulos-bloques">Inscripción bloqueable y obligatoria</h2>
                            <p id="text-bloques">Puede preconfigurar los dispositivos iOS para exigir su
                                inscripción automática en MDM. De este modo se 
                                asegura que esos dispositivos cumplen sus requisitos 
                                de configuración. Además, puede bloquear los 
                                dispositivos de los usuarios en MDM para 
                                mantenerlos bajo su gestión.​
                            </p>
                        </div>
                    </div>
                </div>                        
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="interior col-lg-12 col-xs-12 col-sm-12 col-md-12">
                        <div class="" id="text-principal">
                            <figure>
                                <img src="http://webonline.macstore.mx/img/LP/Empresarial/dep/Mundo_Bloque.png" class="img-responsive tamano-imagen" alt="Supervisión inalámbrica">
                            </figure>
                        </div>
                        <div class="espacios_bloques">
                            <h2 class="text-center titulos-bloques">Supervisión inalámbrica</h2>
                            <p id="text-bloques">Los dispositivos supervisados admiten más 
                                restricciones y tienen acceso a más configuraciones y 
                                prestaciones, como el filtrado de contenido web y el 
                                modo de app única. El DEP permite activar 
                                inalámbricamente el modo Supervisión en un 
                                dispositivo como parte de su configuración inicial.​
                            </p>
                        </div>
                    </div>
                </div> 
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="interior col-lg-12 col-xs-12 col-sm-12 col-md-12">
                        <div class="" id="text-principal">
                            <figure>
                                <img src="http://webonline.macstore.mx/img/LP/Empresarial/dep/Globo_Bloque.png" class="img-responsive tamano-imagen" alt="Disponibilidad">
                            </figure>
                        </div>
                        <div class="espacios_bloques">
                            <h2 class="text-center titulos-bloques">Disponibilidad</h2>
                            <p id="text-bloques">El Programa de Inscripción de Dispositivos está 
                                disponible en México. MacStore ofrece este servicio
                                para enrolar en DEP los dispositivos iPhone, iPad y Mac 
                                de su empresa o institución.​                                        
                            </p>
                        </div>
                    </div>
                </div>                            
            </div>

        </div>
        </div>
</section>
</div>

<div class="container-fluid enlace">
    <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="boton-final">
            <a href="https://www.macstoreonline.com.mx/Empresarial.aspx">Contacta a un ejecutivo</a>
        </div>
    </div>
    </div>
</div>
  
<script>
    function rotar() 
    {
        let image = document.getElementById('rotar_imagen');
        let image2 = document.getElementById('rotar_imagen_2');
        let image3 = document.getElementById('rotar_imagen_3');

        if (image.src.match("Arriba") && image2.src.match("Abajo") && image3.src.match("Abajo")){
            image.src = "http://webonline.macstore.mx/img/LP/Empresarial/dep/Flecha_Desplegable_Abajo.png";
            image2.src = "http://webonline.macstore.mx/img/LP/Empresarial/dep/Flecha_Desplegable_Abajo.png";
            image3.src = "http://webonline.macstore.mx/img/LP/Empresarial/dep/Flecha_Desplegable_Abajo.png";
        } else {
            image.src = "http://webonline.macstore.mx/img/LP/Empresarial/dep/Flecha_Desplegable_Arriba.png";
            image2.src = "http://webonline.macstore.mx/img/LP/Empresarial/dep/Flecha_Desplegable_Abajo.png";
            image3.src = "http://webonline.macstore.mx/img/LP/Empresarial/dep/Flecha_Desplegable_Abajo.png";
        }
    }
    function rotar2() 
    {
        let image = document.getElementById('rotar_imagen');
        let image2 = document.getElementById('rotar_imagen_2');
        let image3 = document.getElementById('rotar_imagen_3');

        if (image.src.match("Abajo") && image2.src.match("Arriba") && image3.src.match("Abajo")){
            image.src = "http://webonline.macstore.mx/img/LP/Empresarial/dep/Flecha_Desplegable_Abajo.png";
            image2.src = "http://webonline.macstore.mx/img/LP/Empresarial/dep/Flecha_Desplegable_Abajo.png";
            image3.src = "http://webonline.macstore.mx/img/LP/Empresarial/dep/Flecha_Desplegable_Abajo.png";
        } else {
            image.src = "http://webonline.macstore.mx/img/LP/Empresarial/dep/Flecha_Desplegable_Abajo.png";
            image2.src = "http://webonline.macstore.mx/img/LP/Empresarial/dep/Flecha_Desplegable_Arriba.png";
            image3.src = "http://webonline.macstore.mx/img/LP/Empresarial/dep/Flecha_Desplegable_Abajo.png";
        }
    }
    function rotar3() 
    {
        let image = document.getElementById('rotar_imagen');
        let image2 = document.getElementById('rotar_imagen_2');
        let image3 = document.getElementById('rotar_imagen_3');

        if (image.src.match("Abajo") && image2.src.match("Abajo") && image3.src.match("Arriba")){
            image.src = "http://webonline.macstore.mx/img/LP/Empresarial/dep/Flecha_Desplegable_Abajo.png";
            image2.src = "http://webonline.macstore.mx/img/LP/Empresarial/dep/Flecha_Desplegable_Abajo.png";
            image3.src = "http://webonline.macstore.mx/img/LP/Empresarial/dep/Flecha_Desplegable_Abajo.png";
        } else {
            image.src = "http://webonline.macstore.mx/img/LP/Empresarial/dep/Flecha_Desplegable_Abajo.png";
            image2.src = "http://webonline.macstore.mx/img/LP/Empresarial/dep/Flecha_Desplegable_Abajo.png";
            image3.src = "http://webonline.macstore.mx/img/LP/Empresarial/dep/Flecha_Desplegable_Arriba.png";
        }
    }
</script>

</body>
